.travaaccount-hero {
	padding: 250px 0 73px 0;

	>.wp-block-group {
		display: flex;
		align-items: center;
		gap: 56px;
		max-width: var(--container-width);
		margin: 0 auto;
		padding: 0 20px;
	}

	&-content {
		flex: 1;
		max-width: 50%;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin-bottom: 20px;
			font-weight: 700;
			font-family: var(--font-heading);
			font-size: 80px;
			line-height: 80px;
			color: #F1F5F9 !important;

			strong {
				background: linear-gradient(90deg, var(--color-primary) 0%, var(--color-bg) 100%) !important;
				-webkit-background-clip: text !important;
				-webkit-text-fill-color: transparent !important;
				background-clip: text !important;
			}
		}

		p {
			margin-bottom: 40px;
			line-height: 1.8;
			color: var(--color-footer-text) !important;
			font-size: 15px;
			font-family: var(--font-body);
			line-height: 1.8;
		}

		/* Wrapper */
		.wp-block-button {
			display: inline-block;
		}

		/* Button */
		.wp-block-button__link {
			display: inline-flex;
			align-items: center;
			gap: 14px;
			padding: 10px 15px 10px 25px;
			background: rgba(255, 255, 255, 0.06);
			border-radius: 50px;
			backdrop-filter: blur(10px);
			border: 1px solid rgba(255, 255, 255, 0.08);
			color: #F1F5F9;

			font-size: 16px;
			font-weight: 600;
			line-height: 1;
			text-decoration: none;
			position: relative;
			transition: all 0.3s ease;
		}

		.wp-block-button__link::after {
			content: url('../assets/icons/arrow.svg');
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 38px;
			height: 38px;
			background: var(--color-primary);
			border-radius: 50%;
			font-size: 20px;
			font-weight: bold;
			color: #1a1a1a;
			transition: transform 0.3s ease;
		}

		.wp-block-button__link:hover {
			transform: translateY(-2px);
			box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
		}

		.wp-block-button__link:hover::after {
			transform: translateX(4px);
		}
	}

	&-image {
		flex: 1;
		max-width: 50%;

		img {
			width: 100%;
			height: auto;
			border-radius: 12px;
			object-fit: cover;
		}
	}

	// Tablet
	@media (max-width: 1024px) {
		padding: 180px 0 60px 0;

		>.wp-block-group {
			gap: 40px;
		}
	}

	// Mobile
	@media (max-width: 768px) {
		padding: 150px 0 50px 0;

		>.wp-block-group {
			flex-direction: column;
			gap: 30px;
			padding: 0 15px;
		}

		&-content {
			max-width: 100%;
			text-align: start;

			h1,
			h2 {
				font-size: 60px;
				line-height: 60px;
				display: ruby;
			}
		}

		&-image {
			max-width: 100%;
			order: -1;
		}
	}

	// Small Mobile
	@media (max-width: 480px) {
		padding: 120px 0 40px 0;

		>.wp-block-group {
			gap: 20px;
		}

		&-content {

			h1,
			h2 {
				font-size: 40px;
				line-height: 40px;
			}
		}
	}
}